body{
    font-family: 'Montserrat, sans-serif';      
}
.container-fluid{
    padding: 3% 15% 7%;
}

a.navbar-brand{
    font-size: 2.5rem;
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
}

a.nav-link{
    font-size: 1.3rem;
    font-family: 'Montserrat-Light';
    margin:0 20px;
    
}

.head{
    margin-top: 4.5rem;
}

.iphone-img{
    width: 20%;
    transform: rotate(25deg);
    position: absolute;
    margin-left: 3%;
}

#title h1 {  
    font-family: 'Montserrat-Black';  
    font-size: 3.5rem;  
    line-height: 1.2;  
    font-weight: bolder;
    color: white;
}

.downloadBtn{
    margin: 10% 3% 0 5%;
}

.navmenu ul{
    position: absolute;
    right: 0px;
}

#title{
    background-color: #ff4c68;
}

/* Features Section */
.fa-heart, .fa-check-circle, .fa-bullseye{
    font-size: 3.5rem;
    color: tomato;
    display: block;
    width: 20%;
    margin: 0 auto 10px;

}

.fa-heart:hover, .fa-check-circle:hover, .fa-bullseye:hover{
    color: rgb(247, 46, 90);
}

#features{
    background-color: white;
    position: relative;
    text-align: center;
    padding: 10% 5%;
    font-family: 'Ubuntu', sans-serif;

}
#features h3{
    font-weight: bolder;
}

#features p{
    color: grey;
    font-family: 'Ubuntu';
    font-size: 1.1rem;
    padding: 0 5rem;
}

/* Testimonials Section */

#testimonials{
    background-color: rgb(252, 139, 119);
    text-align: center;
    color: white;
}

#testimonials h2{

    font-family: 'Montserrat-Bold';
    font-size: 3rem;
    line-height: 1.5;
    color: white;
    font-weight: 900;
}

.carousel-item{
    padding: 5% 15%;
}

.testimonial-image{
    width: 20%;
    border-radius: 100%;
}

.description{
    margin-left: 2%;
    font-size: 1.3rem;

}


#press{
    background-color: rgb(252, 139, 119);
    text-align: center;
}

.press-image{
    width: 15%;
    margin: 50px 20px 70px;
}

/* Pricing Section */
#pricing{
    padding: 100px;
    text-align: center;
    font-family: 'Ubuntu';
}

#pricing h2{
    font-size: 3rem;
    font-family: 'Ubuntu';
    font-weight: bolder;
}
#pricing p{
    font-size: 1.1rem;
    padding: 8px 0 20px;
    font-family: "Ubuntu";
    color: grey;
}
.pricing-column{
    padding: 3% 3%;
}

.card-body p{
    padding-bottom: 10px;
    margin: 0;
}

@media (max-width: 1028px) {
    #title{
        text-align: center;
    }

    .iphone-img{
        position: static;
        width: 60%;
        transform: rotate(0deg);
    }
}

@media (max-width: 992px) {
    .iphone-img{
        margin-top: 5%;
    }
}

/* cta section */
#cta{
    background-color: #ff4c68;
    padding: 5% 3%;
    text-align: center;
}

#cta h3{
    font-family: "Ubuntu",sans-serif;
    font-weight: 900;
    font-size: 3rem;
    line-height: 1.5;
    width: 70%;
    color: white;
    margin: 0 auto 50px;
}

#footer{
    text-align: center;
    padding: 3% 10%;
}

#footer i{
    color: grey;
    font-size: 2.5rem;
    margin: 1rem;
}
#footer i:hover{
    color: black;
}

#footer p{
    margin-top: 10px;
    color: grey;
}
